<!DOCTYPE HTML>
<html>
  <head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/ssyte.css">
  </head>
  <body>
    <div class="container">

      <div class="uberh-header">
        <h1 class="uberh-title">Uberh</h1>
        <p class="lead uberh-description">Now you can rent a helicopter.</p>
      </div>

      <div class="row">
        <div class="col-sm-8 uberh-main"  id="content">
	  <div id="inner-content">
	    
          <div class="uberh-order">
            <h2 id="uberh-order-title" class="uberh-order-title">Another uberh order</h2>
	    <div id="uberh-order-body">uberh order body</div><br/>
	    <a href="#" id="booking-view" class="btn btn-default btn-xs">View</a>
	    <!--<a href="#" id="booking-edit" class="btn btn-info btn-xs">Edit</a>-->
	    <!--<a href="#" id="booking-delete" class="btn btn-warning btn-xs">Delete</a>-->
          </div><!-- /.uberh-order -->
	  
	  </div>

	  <br/>
	  <a id="new-order" href="#" class="btn btn-primary" onclick="helicopter_rent.client.show_create()">New order</a>
	  
          <!-- ul class="pager"-->
          <!-- li><a href="#">Previous</a></li-->
          <!-- li><a href="#">Next</a></li-->
          <!-- /ul-->

        </div><!-- /.uberh-main -->

      
      </div><!-- /.row -->

      <div class="row">
	<div id="booking-form">
	  User Id:<br/>
	  <input id="user_id" type="text"/ class="form-control"><br/>
	  Start point:<br/>
	  <input id="start_point_x" type="text"/ class="form-control"><br/>
	  <input id="start_point_y" type="text"/ class="form-control"><br/>
	   Date:<br
	  <input type="date" id="date" type="text"/ class="form-control"><br/>
	   Type:<br
	  <select id="service_class" / class="form-control">
	    <option>classic</option>
	    <option>premium</option>
	  </select><br/>
	   
	  <a id="save-btn" href="#" class="btn btn-primary" onclick="helicopter_rent.client.try_create_booking()">Save</a>
	  <a href="#" class="btn btn-default" onclick="helicopter_rent.client.close_form()">Cancel</a>
	</div>

	<div id="view-booking">
	  <h2 id="view-title"></h2>
	  <span id="view-body"></span>
	  <br/><br/>
	  <a href="#" class="btn btn-default" onclick="helicopter_rent.client.close_form()">Close</a>
	</div>
      </div>

    </div><!-- /.container -->
  </body>
</html> 
